@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  font-family: "Poppins", sans-serif;
  background-color: rgb(12, 21, 29);
  @apply text-forground-100;
  user-select: none;
}

img,
video,
canvas {
  overflow: clip;
  clip-path: inset(1px 1px);
}

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30, 38, 51); /* Set the color of the scroll bar thumb */
  border-radius: 5px; /* Set the border radius of the scroll bar thumb */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

progress {
  height: 10px; /* Set the height of the progress bar */
  border-radius: 10px;
}

/* Styling the progress value */
progress::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    #ff836d,
    #ff351a,
    #ff9f22
  ); /* Set the color of the progress value */
  border-radius: 10px;
}

/* Styling the progress bar background */
progress::-webkit-progress-bar {
  background-color: rgb(
    27,
    34,
    46
  ); /* Set the color of the progress bar background */
  border-radius: 10px;
}

/* Styling the progress bar container */
progress::-moz-progress-bar {
  background-image: linear-gradient(
    to right,
    #ff836d,
    #ff351a,
    #ff9f22
  ); /* Set the color of the progress bar */
  border-radius: 10px;
}

section {
  height: calc(100vh - 64px);
}

ul {
  position: relative;
}

.button-primary {
  @apply bg-neon-blue text-tinted-black;
}

.button-primary:hover {
  @apply bg-dark-grey-blue;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 42px 0 rgba(135, 60, 31, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  mix-blend-mode: lighten;
}

.border-gradient {
  position: relative;
  border: 1px double;
  border-image: linear-gradient(to right, #ff836d, #ffdaab, #ff351a, #ff9f22) 1;
  background-clip: padding-box;
}

.border-gradient::after {
  position: absolute;
  content: "";
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-image: linear-gradient(to right, #ff836d, #ffdaab, #ff351a, #ff9f22) 1;
  z-index: -1;
  border-radius: 10px;
}

.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  object-fit: cover;
}

.video-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  box-shadow: inset 400px -100px 80px rgb(12, 21, 29);
}

/* svg gradiant #FF836D #FFDAAB #FF351A #FF9F22 */

.title {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.text-gradient {
  background-image: linear-gradient(to bottom, #ff836d 50%, #ffdaab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-gradient {
  --b: 4px;
  --r: 50% 0% 50% 50%;

  display: inline-block;
  margin: 10px;
  /* width: 3rem; */
  font-size: 1.875rem;
  line-height: 1.6;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  text-align: center;
}

.logo-gradient:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--c, linear-gradient(to bottom, #ff351a, #ff9f22));
  padding: var(--b);
  border-radius: var(--r, 50%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

ul.professional li::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid rgb(27, 34, 46);
  background: rgb(12, 21, 29);
  border-radius: 50%;
  left: -30px;
  z-index: 1;
  transition: background-color 0.3s ease;
}

ul.professional li:hover::before {
  background: #ff351a;
  animation: pulse 2s infinite;
}

ul.professional li::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  background: rgb(27, 34, 46);
  left: -22px;
  top: 0;
}

@media (max-width: 999px) {
  .background-video {
    left: 50%;
  }
  .video-wrapper {
    box-shadow: inset 0px -100px 80px rgb(12, 21, 29);
  }
  .title {
    top: 30%;
    left: 50%;
    text-align: center;
    white-space: nowrap;
  }
  .small-icon {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 42px 0 rgba(135, 60, 31, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    mix-blend-mode: lighten;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@keyframes pulse {
  0% {
    background: rgb(12, 21, 29);
  }
  50% {
    background: #ff351a;
  }
  100% {
    background: rgb(12, 21, 29);
  }
}
