@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  font-family: "Poppins", sans-serif;
  background-color: rgb(12, 21, 29);
  @apply text-neon-blue;
}

img,
video,
canvas {
  overflow: clip;
  clip-path: inset(1px 1px);
}

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30, 38, 51); /* Set the color of the scroll bar thumb */
  border-radius: 5px; /* Set the border radius of the scroll bar thumb */
}

a {
  @apply text-light-neon-blue;
  background-image: none;
}

a:hover {
  background-image: linear-gradient(to bottom right, #ff836d 50%, #ffdaab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}

.button-primary {
  @apply bg-neon-blue text-tinted-black;
}

.button-primary:hover {
  @apply bg-dark-grey-blue;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 42px 0 rgba(135, 60, 31, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  mix-blend-mode: lighten;
}

.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  object-fit: cover;
}

.video-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  box-shadow: inset 400px -100px 80px rgb(12, 21, 29);
}

/* svg gradiant #FF836D #FFDAAB #FF351A #FF9F22 */

.title {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

@media (max-width: 999px) {
  .background-video {
    left: 50%;
  }
  .video-wrapper {
    box-shadow: inset 0px -100px 80px rgb(12, 21, 29);
  }
  .title {
    top: 30%;
    left: 50%;
    text-align: center;
    white-space: nowrap;
  }
  .small-icon {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 42px 0 rgba(135, 60, 31, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    mix-blend-mode: lighten;
  }
}
