@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  font-family: "Poppins", sans-serif;
  height: 100%;
  @apply bg-tinted-black text-neon-blue;
}

.head-text {
  font-size: 8rem;
  line-height: 11rem;
  font-weight: 700;
  color: white;
}

a {
  @apply text-light-neon-blue;
}

a:hover {
  @apply text-neon-blue;
}

.button-primary {
  @apply bg-neon-blue text-tinted-black;
}

.button-primary:hover {
  @apply bg-dark-grey-blue;
}
